.all-products {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 777;
  background: #f3f1ee;
  border-bottom: 0.1px solid rgb(0, 0, 0, 0.4);
  padding: 5rem;
  @include media("<=43.75em") {
    // 700px
    padding: 3rem 2rem;
  }
}

.all-products__lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  background: #f3f1ee;
  color: #525257;
}

.active-product {
  background: #525257;
  color: $color-white;
}

.all-products__list {
  @extend %center;
  gap: 0.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  padding: 1rem 1.2rem;
  border: 0.5px solid #525257;
  border-radius: 100px;
  cursor: pointer;
  @include media("<=18.125em") {
    // 290px
    font-size: 1.3rem;
    padding: 0.8rem;
  }
}
