.header {
  @extend %center;
  justify-content: space-between;
  font-family: $satoshi;
  font-style: normal;
  font-weight: 400;
}

.header__logo {
  @extend %center;
  gap: 1rem;
}

.header__logo-icon-box {
  background: #f7fcfc;
  @extend %center;
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 4px 4px 4px rgba(17, 17, 17, 0.25);
  border-radius: 8px;
}

.header__logo-text-box {
  font-size: 2.8rem;
  color: $color-white;
}

.header__nav {
  @extend %center;
  justify-content: space-evenly;
  background: $color-white-c;
  width: 25.1rem;
  height: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}

.header__link {
  font-size: 1.6rem;
  background: $color-white-a;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__cart-box {
  @extend %center;
  gap: 2rem;
  color: $color-white;
}

.header__search-icon-box {
  @extend %center;
  width: 1.8rem;
  height: 1.8rem;
}

.header__cart-text-box {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 6rem;
}

.header__cart-no {
  opacity: 0.6;
}
