.header {
  @extend %center;
  justify-content: space-between;
  font-family: $satoshi;
  font-style: normal;
  font-weight: 400;
  z-index: 999;
}

.header__nav {
  @extend %center;
  justify-content: space-evenly;
  background: $color-white-c;
  width: 25.1rem;
  height: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  @include media("<=40.625em") {
    // 650px
    display: none;
  }
}

.header__link {
  font-size: 1.6rem;
  background: $color-white-a;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__checkbox {
  display: none;
  @include media("<=40.625em") {
    // 650px
    display: block;
    position: absolute;
    right: 1.5rem;
    width: 3rem;
    height: 2.6rem;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }
}

.header__hamburger {
  display: none;
  @include media("<=40.625em") {
    // 650px
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    height: 100%;
  }
}

.header__hamburger-line {
  width: 3rem;
  height: 0.2rem;
  background-color: $color-white;
  border-radius: $border;
  transition: all 0.2s;
}

.header__hamburger-line-for-shop {
  background-color: $color-txt-7;
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger-line:nth-child(1) {
  transform: rotate(130deg);
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger-line:nth-child(2) {
  position: absolute;
  transform: rotate(45deg);
}

.header__checkbox:checked ~ .header__hamburger .header__hamburger-line {
  width: 2rem;
}

// SHOP

.header__nav-for-shop {
  @extend %center;
  justify-content: space-evenly;
  width: 25.1rem;
  @include media("<=40.625em") {
    // 650px
    display: none;
  }
}

.header__link-for-shop {
  position: relative;
  font-size: 1.6rem;
  color: $color-txt-7;
}

.header__link-for-shop::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: $color-txt-7;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header__link-for-shop:hover:after {
  content: "";
  left: 0;
  width: 100%;
}
