// HOME

.hero-home {
  @extend %center;
  flex-direction: column;
  gap: 2rem;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  @include media("<40.625em") {
    // 650px
    gap: 2.5rem;
  }
  @include media("<=28.4375em") {
    // 455px
    width: 95%;
    margin: 0 auto;
  }
}

.hero-home__link-box-1 {
  @extend %center;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: $border;
  padding: 0 0.7rem;
  height: 26px;
  transition: all 0.8s;
}

.hero-home__link-box-1::before {
  position: absolute;
  content: "";
  inset: 0;
  background: $color-white-e;
  z-index: 1;
  opacity: 0;
  border-radius: $border;
  transition: opacity 1s linear;
}

.hero-home__link-box-1:hover::before {
  opacity: 0.3;
}

.hero-home__link-box-2 {
  width: 100%;
  height: 94%;
  background: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-radius: $border;
  border-width: 0.1rem;
  border-image-source: $color-white-e;
}

.hero-home__link {
  @extend %center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background: $color-white-d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-home__heading {
  font-size: 6.4rem;
  font-weight: 600;
  max-width: 89.2rem;
  text-align: center;
  background: $color-white-a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 120%;
  @include media("<=36.25em") {
    // 580px
    font-size: 5rem;
  }
  @include media("<=29.375em") {
    // 470px
    font-size: 4rem;
  }
  @include media("<=28.4375em") {
    // 455px
    font-size: 3rem;
    max-width: 40rem;
  }
}

.hero-home__paragraph {
  max-width: 60.6rem;
  font-size: 1.6rem;
  text-align: center;
  color: rgb(255, 255, 255, 0.6);
  @include media("<=36.25em") {
    // 580px
    max-width: 50rem;
  }
  @include media("<=29.375em") {
    // 470px
    max-width: 40rem;
  }
}

.hero-home__btn {
  @extend %center;
  justify-content: space-around;
  gap: 1rem;
  width: 27rem;
  height: 6rem;
  font-size: 1.7rem;
  padding: 2rem 4rem;
  margin-top: 2.5rem;
  color: #0e5543;
  background: $color-white-b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border;
  @include media("<=28.4375em") {
    // 455px
    font-size: 1.5rem;
    width: 22rem;
    padding: 1rem 3rem;
  }
}

.hero-home__btn-icon {
  @include media("<=28.4375em") {
    // 455px
    width: 2rem;
  }
}

// SHOP

.hero-shop {
  font-style: normal;
  color: $color-txt-7;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-shop__box-1 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 1rem;
}

.hero-shop__line {
  display: block;
  width: 4rem;
  height: 0.1rem;
  background-color: $color-txt-7;
}

.hero-shop__name {
  font-weight: 500;
  font-size: 2.4rem;
}

.hero-shop__text {
  max-width: 70rem;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 120%;
  @include media("<=22.0625em") {
    // 353px
    font-size: 2.8rem;
  }
}
