.info-shipping {
  padding: 0 6.5rem;
  @include media("<=43.75em") {
    // 700px
    padding: 0 3rem;
  }
  // @include media("<=34.375em") {
  //   // 550px
  //   padding: 0;
  // }
}

.info-shipping__box {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.info-shipping__box-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 55%;
}
