.residential {
  @extend %center;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  font-style: normal;
  padding: 5rem 0;
}

.residential__box-1 {
  @extend %center;
  flex-direction: column;
  align-items: flex-start;
  width: 91%;
  @include media("<=phone") {
    align-items: center;
  }
}

.residential__heading {
  font-weight: 500;
  font-size: 3.8rem;
  color: $color-txt-7;
  @include media("<=phone") {
    font-size: 3.5rem;
    text-align: center;
    line-height: 5rem;
    margin-bottom: 2rem;
  }
}

.residential__box-2 {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  padding: 2rem 6rem;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-width: 0;
  @include media("<=phone") {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
    gap: 3rem 0;
    padding: 2rem 0;
    overflow-x: hidden;
  }
  @include media("<=25em") {
    // 400px
    grid-template-columns: 46% 46%;
    justify-content: space-around;
    padding: 2rem 1rem;
  }
  @include media("<=23.125em") {
    // 370px
    display: grid;
    flex-direction: column;
    grid-template-columns: 70%;
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 0;
    display: none;
  }
}

.residential__card {
  @extend %center;
  flex-direction: column;
  gap: 1.5rem;
  @include media("<=phone") {
    height: 30rem;
  }
  @include media("<=25em") {
    // 400px
    height: 26rem;
  }
}

.residential__img-box {
  @extend %center;
  align-items: flex-end;
  overflow: hidden;
  width: 36rem;
  height: 38rem;
  background-image: url(/bs-card-bg.svg);
  border-radius: 8px;
  @include media("<=phone") {
    width: 100%;
    height: 100%;
  }
  @include media("<=23.125em") {
    // 370px
    // width: 100%;
  }
}

.residential__img {
  margin-bottom: -0.8rem;
  width: 100%;
  height: 100%;
}

.residential__texts-box {
  @extend %center;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: flex-start;
  width: 95%;
  @include media("<=23.125em") {
    // 370px
    width: 100%;
  }
}

.residential__card-name {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: $color-txt-7;
  @include media("<=phone") {
    font-size: 1.5rem;
  }
  @include media("<=23.125em") {
    // 370px
    font-size: 1.5rem;
  }
}

.residential__card-price {
  font-weight: 400;
  font-size: 1.8rem;
  color: #5caaaa;
  @include media("<=phone") {
    font-size: 1.5rem;
  }
  @include media("<=23.125em") {
    // 370px
    font-size: 1.5rem;
  }
}

.residential__unknown {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  padding: 0 2rem;
}

.scroll-next,
.scroll-prev {
  @extend %center;
  position: absolute;
  top: 45%;
  bottom: 45%;
  height: 5rem;
  width: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: $border;
  @include media("<=phone") {
    height: 0;
    width: 0;
  }
}

.residential__learn-more {
  margin-left: 1rem;
  color: #5caaaa;
}

.scroll-prev {
  left: 2rem;
}

.scroll-next {
  right: 2rem;
}
