.residential {
  @extend %center;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  font-style: normal;
  padding: 6rem 0;
  border-bottom: 1.5px solid #e5e7eb;
}

.residential--ci {
  @include media("<=25.9375em") {
    // 415px
    border-bottom: none;
  }
}

.residential__box {
  list-style: none;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  @include media("<=68.75em") {
    // 1100px
    grid-template-columns: 32% 32% 32%;
    gap: 1.5rem;
    padding: 0 1rem;
  }
  @include media("<=59.375em") {
    // 950px
    grid-template-columns: 45% 45%;
    gap: 2.5rem;
    padding: 0 1rem;
  }
  @include media("<=43.775em") {
    // 700px
    grid-template-columns: 48% 48%;
    gap: 2rem;
    padding: 0 2rem;
  }
  @include media("<=41.25em") {
    // 660px
    grid-template-columns: 98%;
  }
  @include media("<=21.25em") {
    // 340px
    grid-template-columns: 99%;
    padding: 0 1rem;
  }
}

.residential__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  height: 50rem;
  background: #f3f1ee;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.5s ease;
  @include media("<=41.25em") {
    // 660px
    height: 62rem;
  }
  @include media("<=21.25em") {
    // 340px
    height: 45rem;
  }
}

.residential__card:hover {
  @include media(">phone") {
    background-color: #e0dedb;
  }
}

.residential__img-box {
  @extend %center;
  align-items: flex-end;
  overflow: hidden;
}

.residential__img {
  @include media("<=21.25em") {
    // 340px
    width: 30rem;
  }
}

.residential__texts-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media("<=23.125em") {
    // 370px
    width: 100%;
  }
}

.residential__name-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.residential__dot {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #6b7280;
  margin: 0 0.7rem;
}

.residential__card-name-1 {
  display: flex;
  align-items: center;
}

.residential__card-name-2 {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: $color-txt-7;
  @include media("<=phone") {
    font-size: 1.5rem;
  }
  @include media("<=23.125em") {
    // 370px
    font-size: 1.5rem;
  }
}

.residential__card-price {
  font-weight: 400;
  font-size: 1.7rem;
  color: #5caaaa;
  @include media("<=phone") {
    font-size: 1.5rem;
  }
  @include media("<=23.125em") {
    // 370px
    font-size: 1.5rem;
  }
}

.residential__card-for-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding: 2rem 2rem;
  height: 50rem;
  @include media("<=41.25em") {
    // 660px
    height: 40rem;
  }
  @include media("<=21.25em") {
    // 340px
    height: 30rem;
  }
}

.residential__img-for-tag {
  width: 3.5rem;
}

.residential__texts-box-for-tag {
  color: #525257;
}

.residential__tag {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 120%;
  margin-bottom: 1rem;
}

.residential__manifesto {
  font-size: 1.6rem;
  line-height: 120%;
}
