.shop-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 5rem;
  height: 54rem;
  background: #f3f1ee;
  border-bottom: 0.1px solid rgb(0, 0, 0, 0.4);
  @include media("<=43.75em") {
    // 700px
    padding: 2rem;
  }
}

.shop-header__mobile-nav {
  background: $color-white-h;
}

.shop-header__nav-:nth-child(1) {
  font-weight: 400;
  font-size: 3.2rem;
  color: $color-txt-7;
}

.shop-header__nav {
  font-weight: 400;
  font-size: 3rem;
  color: $color-txt-7;
}
